.main {
    background: #fff url('../../../public/img/bg.jpg') 50% 50%;
    background-size: cover;
    height: 100vh;
    padding-top: 40px;
}

.main-title {
    text-shadow: 3px 3px 3px #cecece;
    font-size: 2.5rem;
}
