.form {
    margin-top: 40px;

    &-title {
        text-align: left;
        margin-bottom: 8px;
        width: 100%;

        label {
            color: #7d7d9b;
            font-size: 22px;
        }
    }

    form {
        border: 5px solid #ffce22;
        border-radius: 25px;
        background-color: #fff;
        color: #212529;
        padding: 32px 52px 42px 52px;
        max-width: 920px;
        width: 100%;
    }
}

.form {
    &-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &-right {
        position: relative;

        .menu-container {
            position: relative;
        }

        .menu {
            border-radius: 8px;
            position: absolute;
            top: 60px;
            left: 15px;
            width: 100%;
            max-height: 240px;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s ease;
            transform: translateX(-50%);
            z-index: 1;
        }

        .menu.active {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            overflow-y: auto;
            max-height: 240px;
            max-width: 358px;
        }

        .menu ul {
            background: #ffffff;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menu li {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 7px 15px;

            &:hover {
                background-color: rgb(245, 245, 245);
            }
        }

        .menu li img {
            height: 24px;
            width: auto;
        }

        .menu li p {
            text-decoration: none;
            color: #333333;
            padding: 15px 20px;
            display: block;
        }
    }

    &-wrapper {
        align-items: center;
        background-color: #f5f1e4;
        border: 0;
        border-radius: 0.25rem;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        height: 60px;
        width: 100%;

        input {
            background: inherit;
            border: 0;
            font-size: 22px;
            height: 100%;
            width: 100%;

            &::placeholder {
                font-size: 14px;
            }
        }

        &__currency {
            align-items: center;
            display: flex;

            span {
                color: #212529;
            }
        }

        &__text {
            align-items: center;
            display: flex;
            img {
                height: auto;
                width: 24px;
                margin-right: 8px;
            }
        }

        &__arrow {
            svg {
                path {
                    stroke: '#ffce22';
                }
            }
        }
    }
}
